/*! ## FAQ Page Template
------------------------ */

.faq {

	#accordion {
		margin-left: 1em;

		.section-header {
			border: 0;
			font-family: $raleway;
			font-size: 1.25rem;
			font-style: italic;
			margin-bottom: 2em;
		}

		.accordion-heading {
			color: $headline-color;
		}

		.accordion-content {
			p {
				padding: 0 6em 0 1em;
				text-align: left;
			}
		}
	}
}
