/* ---------------------------------- *\
	# Front Page | front-page.php
\* ---------------------------------- */

.home .site-inner {
	max-width: none;
	padding-top: 0;
	background-color: #fff;
}

.home .content .entry {
	padding: 0;
	margin-bottom: 0;
}

.hero {
	padding: 350px 0;
	background-size: cover !important;
	text-align: center;
	color: #fff;

	.hero--overlay {
		font-size: 3rem;
	}

	.button {
		background-color: #ff9934;
		color: #fff;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
		padding: 20px;
	}
}

.home .section--title {
	text-align: center;
}

.featured-image {
	height: 300px;
	background-size: cover !important;
}

.featured-posts {
	width: 23.076923076923077%;
	margin-left: 2.564102564102564%;
	float: left;

	&:first-child {
		margin-left: 0 !important;
	}
}

.featured-boxes {
	text-align: center;

	.featured-links--grey {
		background-color: #8d9ba6;
	}

	.featured-links--blue {
		background-color: #286aa6;
	}

	.featured-links--orange {
		background-color: #ff9934;
	}

	.featured-links--yellow {
		background-color: #8d9ba6;
	}
}

//.image-text,
//.text-image {
//	display: table;
//	width: 100%;
//	height: 100%;
//}
//
//.flexbox .featured-two-columns,
//.flexbox .featured-four-columns {
//	display: flex;
//}
//
//.left-half,
//.right-half {
//	width: 570px;
//	height: 290px;
//	display: table-cell;
//	background-size: cover;
//}
//
//.flexbox .left-half,
//.flexbox .right-half {
//	display: flex;
//	flex-direction: column;
//	justify-content: center;
//}
//
//.image-text .right-half,
//.text-image .left-half {
//	padding: 0 80px;
//	vertical-align: middle;
//}
//
//.image-text h2,
//.text-image h2 {
//	margin-bottom: 30px;
//}
//
//.dark {
//	background: #32373b;
//	color: #fff;
//}
//
//.dark h2 {
//	color: #fff;
//}
//
//@media only screen and (max-width: 1024px) {
//
//	.home .site-inner {
//		padding: 0;
//	}
//
//	.left-half,
//	.right-half {
//		width: 100%;
//		display: block;
//	}
//
//	.flexbox .left-half,
//	.flexbox .right-half {
//		display: block;
//		flex-direction: column;
//		justify-content: center;
//	}
//
//	.flexbox .image-text,
//	.flexbox .text-image {
//		display: block;
//	}
//
//	.row {
//		padding: 40px 0;
//	}
//
//	.text-image .right-half,
//	.image-text .left-half {
//		text-align: center;
//	}
//
//	.image-text .left-half {
//		margin-bottom: 40px;
//	}
//
//}
//
//@media only screen and (max-width: 960px) {
//
//	.hero .wrap {
//		padding-left: 5%;
//		padding-right: 5%;
//	}
//
//}
//
//@media only screen and (max-width: 320px) {
//
//	.image-text .right-half,
//	.text-image .left-half {
//		padding: 0 40px;
//	}
//
//}
//
//
