// WooCommerce Home Page Product Widget

.home-feature-3 .woocommerce ul.products li.product,
.home-feature-3 .woocommerce-page ul.products li.product {
	width: 29%;
}

// Home Feature BG

.home-feature-bg {
	overflow: hidden;
}

.home-feature-bg .wrap {
	background: #cde;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	max-width: 1140px;
	text-align: center !important;
}

.home-feature-bg .featuredpage .page,
.home-feature-bg .featuredpost .post {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 0 5px;
}

.home-feature-bg .featuredpage .page h2,
.home-feature-bg .featuredpost .post h2 {
	margin: 10px 0;
}

.home-feature-bg .featuredpage .page h2 a,
.home-feature-bg .featuredpost .post h2 a {
	font-size: 15px;
}

.home-feature-bg .featuredpage img,
.home-feature-bg .featuredpost img {
	background: none;
	border: none;
	padding: 0;
}

.home-feature-bg .featuredpage img:hover,
.home-feature-bg .featuredpost img:hover {
	opacity: .7;
	transition: all .5s ease;
}

.home-feature-bg .byline,
.home-feature-bg .byline {
	font-size: 11px !important;
	line-height: 15px !important;
	margin: 0 0 8px !important;
}

.home-feature-bg p {
	margin: 0 0 25px;
}

/*!
Home Feature BG Alt
---------------------------------------------------------------------------------------------------- */

.home-feature-bg-alt {
	background: #cde;
	margin: 0 0 0 0;
}

.home-feature-bg-alt .alignleft { /*---PK---*/
	margin: 0 12px 0 0;
}

.home-feature-bg-alt .wrap {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 1140px;
}

.home-feature-bg-alt .featuredpage .page,
.home-feature-bg-alt .featuredpost .post {
	float: left;
	margin: 0 1em 0 0;
	overflow: hidden;
	padding: 0 0 5px;
	width: 30%;
}

.home-feature-bg-alt .featuredpage img,
.home-feature-bg-alt .featuredpost img {
	background: none;
	border: none;
	padding: 0;
	border: 1px solid #fff;
	border-radius: 20px;
}

.home-feature-bg-alt .featuredpage img:hover,
.home-feature-bg-alt .featuredpost img:hover {
	opacity: .7;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.home-feature-bg-alt .byline,
.home-feature-bg-alt .byline {
	font-size: 11px !important;
	line-height: 15px !important;
	margin: 0 0 8px !important;
}

.home-feature-bg-alt p {
	font-size: 12px;
	margin: 0 0 0 0;
}

.home-feature-bg-alt .entry-header .entry-meta {
	border-bottom: 1px solid #ddd;
}

/*!
Home Feature BG Dark
---------------------------------------------------------------------------------------------------- */

.home-feature-bg-dark {
	background: #303236;
	color: #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.home-feature-bg-dark .wrap { /*--- This controls .home-feature-5 ---*/
	margin: 0 auto;
	overflow: hidden;
	height: 36px;
	padding: 0;
	width: 1140px;
}

.home-feature-bg-dark .featuredpage .page,
.home-feature-bg-dark .featuredpost .post {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 0 5px;
	width: 300px;
}

.home-feature-bg-dark .featuredpage .page h2 a,
.home-feature-bg-dark .featuredpost .post h2 a {
	font-size: 15px;
}

.home-feature-bg-dark .featuredpage img,
.home-feature-bg-dark .featuredpost img {
	background: none;
	border: none;
	padding: 0;
}

.home-feature-bg-dark .featuredpage img:hover,
.home-feature-bg-dark .featuredpost img:hover {
	opacity: .7;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.home-feature-bg-dark .byline,
.home-feature-bg-dark .byline {
	font-size: 11px !important;
	line-height: 15px !important;
	margin: 0 0 8px !important;
}

.home-feature-bg-dark h1,
.home-feature-bg-dark h2,
.home-feature-bg-dark h3,
.home-feature-bg-dark h4,
.home-feature-bg-dark h5,
.home-feature-bg-dark h6 {
	color: #fff;
}

.home-feature-bg-dark p {
	color: #aaa;
	margin: 0 0 20px;
}

.home-feature-bg-dark a {
	color: #bbb;
}

/*!
Home Features
---------------------------------------------------------------------------------------------------- */

/*! Home Feature Classes */

/*!You can add background images/colors to each section of the homepage by adding them to the classes below.
*/

.hf1,
.hf3,
.hf4,
.hf5,
.hf6,
.hf7,
.hf8,
.hf9,
.hf14 {
	background-attachment: fixed;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.hf1 {
}

.hf3 { /*---PK---*/
	background: #fff;
	padding: 12px 0 0 0;
}

.hf4 {
	background: #fff;
	font-size: 30px;
}

.hf5 {
	background: #567;
	font-size: 13px;
	text-align: center;
}

.hf6 {
}

.hf7 {
}

.hf8 {
	text-align: center;
	font-family: ralewaylight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 25px;
	letter-spacing: .3em;
	color: #9ac;
}

.hf9 {
	margin: 0;
	background: #cde;
}

.hf14 {
	text-align: center;
	background: #abc;
	padding: 30px 0 0 0;
}

.hf14 .head {
	font-family: ralewaylight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 25px;
	letter-spacing: .3em;
	color: #fff;
	margin: 0 0 0 0;
}

/*! Home Feature 1 */

.home-feature-1 {
	float: left;
	margin: 0 20px 0 0;
	width: 45%;
}

.home-feature-1 .widget {
	margin: 0 0 40px;
	overflow: hidden;
}

.home-feature-1 .widgettitle {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

/*! Home Feature 2 */

.home-feature-2 {
	float: right;
	margin: 0;
	width: 45%;
}

.home-feature-2 .widget {
	margin: 0 0 40px;
	overflow: hidden;
}

.home-feature-2 .widgettitle {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

/*! Home Feature 3 */

.home-feature-3 {
	background: #fff;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

.home-feature-3 .widget {
	margin: 0 0 0 1.2%;
	overflow: hidden;
}

/*! Home Feature 4 */

.home-feature-4 {
	margin: 5px 0 5px 0;
	width: 100%;
	font-family: ralewaylight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 25px;
	text-align: center;
	letter-spacing: .3em;
	color: #9bc;
}

.home-feature-4 .widget {
	margin: 0;
	overflow: hidden;
}

/*! Home Feature 5 */
.home-feature-5 {
	margin: 5px 0 5px 0;
	width: 100%;
	color: #ccc;
	text-align: center;
	letter-spacing: .04em;
}

.home-feature-5 .widget {
	margin: 0;
	overflow: hidden;
}

/*! Home Feature 6 */

.home-feature-6 {
	margin: 0;
	width: 100%;
}

.home-feature-6 .widget {
	margin: 0 0 40px;
	overflow: hidden;
}

/*! Home Feature 7 */

.home-feature-7 {
	margin: 0;
	width: 100%;
}

.home-feature-7 .widget {
	margin: 0 0 40px;
	overflow: hidden;
}

/*! Home Feature 8 */

.home-feature-8 {
	margin: 25px 0 15px 0;
	width: 100%;
}

.home-feature-8 .widget {
	overflow: hidden;
}

/*! Home Feature 9 */

.home-feature-9 {
	clear: both;
	text-align: center;
}

.home-feature-9 .widget {
	margin: 0 0 40px;
	overflow: hidden;
}

.home-feature-9 h4 {
	font-size: 32px;
	font-weight: 400;
	line-height: 38px;
}

/*! Home Feature 10 */

.home-feature-10 {
	float: left;
	margin: 0 1.3% 0 0;
	width: 24%;
}

.home-feature-10 .widget {
	margin: 0 0 5px;
	overflow: hidden;
}

/*! Home Feature 11 */

.home-feature-11 {
	float: left;
	margin: 0 1.3% 0 0;
	width: 24%;
}

.home-feature-11 .widget {
	margin: 0 0 5px;
	overflow: hidden;
}

/*! Home Feature 12 */

.home-feature-12 {
	float: left;
	margin: 0 1.3% 0 0;
	width: 24%;
}

.home-feature-12 .widget {
	margin: 0 0 5px;
	overflow: hidden;
}

/*! Home Feature 13 */

.home-feature-13 {
	float: right;
	margin: 0;
	width: 24%;
}

.home-feature-13 .widget {
	margin: 0 0 5px;
	overflow: hidden;
}

/*! Home Feature 14 */

.home-feature-14 {
	margin: 0;
	text-align: center;
	width: 100%;
}

.home-feature-14 .widget {
	margin: 0 0 15px 30px;
	overflow: hidden;
}

/*! Home Feature h4 */

.home-feature-3 h4,
.home-feature-4 h4,
.home-feature-5 h4,
.home-feature-6 h4,
.home-feature-7 h4,
.home-feature-8 h4,
.home-feature-9 h4,
.home-feature-14 h4 {
	font-size: 36px;
	font-weight: 300;
}

.home-feature-10 h4,
.home-feature-11 h4,
.home-feature-12 h4,
.home-feature-13 h4 {
	font-size: 24px;
	font-weight: 400;
}


@include media($xxlarge-screen-up) {

	.hf1,
	.hf3,
	.hf4,
	.hf5,
	.hf6,
	.hf7,
	.hf8,
	.hf9,
	.hf14 {
		background-position: top;
		background-size: auto;
	}

}
