/* ## WC Shop Archive
------------------------- */

.archive {
	background-color: $white;

	.content {
		margin-top: 4.6em;
	}

	.entry-header {
		@include margin(1em 0 0.5em);
	}

	&.woocommerce ul.products li.product,
	&.woocommerce-page ul.products li.product {
		@include padding(0.25em 0.25em 1.5em);
		background-color: $gray2;

		@include media($small-screen-up) {
			width: 100%;
		}

		&:last-child {

			@include media($small-screen-up) {
				margin-bottom: 0;
			}

		}

		h3 {
			@include padding(0);
			background-color: $gray2;
			color: #000;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			height: 0;
			line-height: 1;
			text-align: center;
			text-transform: lowercase;
			width: 100%;
		}

		.price {
			@include margin(5px 8px null null);
			color: #000;
			display: inline-block;
			float: right;
			font-size: 14px;
		}

		.button {
			@include margin(0);
			@include padding(6px);
			background-color: $navpink1;
			border-radius: 0;
			color: $white;
			font-size: 16px;
			margin-left: 10px;
			text-transform: capitalize;

			&:hover {
				background-color: $navpink2;
			}
		}

	}

	&.woocommerce.sidebar-content ul.products li.product,
	&.woocommerce-page.sidebar-content ul.products li.product {
		clear: right;
		margin-right: 3.8%;
		width: 29.25%;

		@include media($large-screen-up) {
			clear: none;
			margin-right: 2%;
			width: 48%;
		}

		@include media($small-screen-up) {
			margin-right: 0;
			width: 100%;
		}

	}

	.sidebar {
		.facetwp-btn {
			display: none;
		}

		.facetwp-facet .noUi-connect {
			background-color: $navpink1;
		}

		.widget {
			background-color: $gray2;
			@include margin(2em);

			@include media($xlarge-screen-up) {
				@include margin(0);
			}
		}
	}

}
