/* ## WC Shop Archive
------------------------- */

.archive {
	&.woocommerce ul.products li.product,
	&.woocommerce-page ul.products li.product {
		@include margin(0 2% 3em);
		@include padding(0.5em 0.5em 1.5em 0.5em);
		background-color: $gray2;
		width: 46%;

		@include media(max-width 767px) {
			@include margin(0 4% 5em 0);
			width: 48%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@include media($small-screen-up) {
			width: 100%;
		}

		&:last-child {

			@include media($small-screen-up) {
				margin-bottom: 0;
			}

		}

		h3 {
			@include padding(0);
			background-color: $gray2;
			color: #000;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			height: 0;
			line-height: 1;
			text-align: center;
			text-transform: lowercase;
			width: 100%;

			@include media($small-screen-up) {
				margin-bottom: 2em;
			}
		}

		.price {
			@include margin(5px 8px null null);
			color: #000;
			display: inline-block;
			float: right;
			font-size: 14px;
		}

		.button {
			@include margin(0);
			@include padding(6px);
			background-color: $orange;
			border-radius: 0;
			color: $white;
			font-size: 16px;
			margin-left: 10px;
			text-transform: capitalize;

			&:hover,
			&:focus {
				background-color: $orange-hover;
				color: #fff;
				transition: all 0.3s ease;
			}
		}
	}

	.sidebar {
		.facetwp-btn {
			display: none;
		}

		.facetwp-facet .noUi-connect {
			background-color: $orange;
		}

		.widget {
			background-color: $gray2;
		}

		.rf-recommendation-product {
			margin-bottom: 3em !important;
			background-color: $white !important;
			padding: 1em !important;

			@include media(max-width 767px) {
				margin-bottom: 5em !important;
			}
		}
	}

}
