/*! single-product.php - WooCommerce Product Page
------------------------------------------------- */

body.single-product {
	background-color: $white;

	.site-inner,
	.site-inner .wrap {
		max-width: none
	}

	.site-inner {
		margin-bottom: 0;
		padding-top: 0;

		@include media($xlarge-screen-up) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	// WooCommerce Message Section
	&.woocommerce .woocommerce-error,
	&.woocommerce .woocommerce-info,
	&.woocommerce .woocommerce-message {
		background: #ebebeb;
		margin-bottom: 0 !important;
		padding-top: 2em !important;

		&:before,
		&:before,
		&:before {
			top: 2em;
			left: 13.5em;
		}
	}

	div.breadcrumb {
		border-bottom: 1px solid #cacaca;
		margin-left: 0;
		text-align: left;

		a {
			color: #9d9d9d;
		}

		.breadcrumb_last {
			color: #222;
		}
	}

	.entry {
		@include margin(0);
		@include padding(0);
	}

	&.woocommerce div.product div.images {
		background: #fff;
		padding-top: 50px;
		text-align: center;
		width: 50%;

		@include media($xlarge-screen-up) {
			width: 100%;
		}
	}

	&.woocommerce div.product div.summary {
		background: #ebebeb;
		min-height: 100vh;
		width: 50%;

		@include media($xlarge-screen-up) {
			margin-top: 5em;
			width: 100%;
		}
	}

	div.product div.images,
	div.product div.summary {
		margin-bottom: 0;
	}

	div.product .product_title {
		color: #222;
		font: {
			family: $open-sans-condensed-bold;
			size: em(36);
			weight: 800
		}
		margin-top: 2rem;
		text-rendering: optimizeLegibility;
		text-transform: uppercase;
	}

	.product-essential {
		max-width: 670px;
		@include padding(0 em(80));

		@include media($xlarge-screen-up) {
			max-width: none;

			@include media($ipad-screen-up) {
				@include padding(0 1em);
			}
		}
	}

	div.swatch-label {
		color: #222;
		font-family: $open-sans-condensed-bold;
	}

	div.product p.price,
	div.product span.price {
		margin-top: 1em;
	}

	p.price > .amount {
		color: #222;
		font: {
			family: $open-sans-condensed-bold;;
			size: em(24);
		}
	}

	// Color Swatches
	.label > label {
		display: none;
	}

	.value {
		width: 100%;
	}

	.variations tr {
		border-bottom: $border;
	}

	// Sizing Radio Buttons
	div.radio-select {

		li {
			float: left;

			&> input.radio-option {
				display: block;
				visibility: hidden;

				&:checked + label {
					background: #000;
					color: #fff;
				}
			}

			label {
				@include margin(0 5px 5px 0);
				border: 1px solid #000;
				cursor: pointer;
				display: block;
				font-size: 1em;
				line-height: 40px;
				min-height: 40px;
				min-width: 50px;
				text-align: center;
			}
		}

	}

	// Clear Options Button
	&.woocommerce div.product form.cart .reset_variations {
		clear: both;
		display: block !important;
	}

	// Add to Cart Button
	div.product form.cart button.button {
		//background-color: $orange;
		background-color: $navpink1;
		font-size: 1.25em;
		@include padding(14px em(60));

		@include media($medium-screen-up) {
			padding-left: 3em;
			padding-right: 3em;
		}

		&:hover {
			background-color: $gray1;
		}
	}

	// Accordion
	#accordion {
		border-top: $border;
	}

	// Related Products
	&.woocommerce ul.products li.product,
	&.woocommerce-page ul.products li.product {
		@include margin(0 5.9% 2.992em 0);
		width: 44.10%;

		@include media($ipad-screen-up) {
			@include margin(0 auto 2em);
			width: 100%;
		}

		h3 {
			@include padding(0);
			background-color: $gray2;
			color: #000;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			height: 0;
			line-height: 1;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}

		.categories {
			display: none;
		}

		.price {
			@include margin(5px 8px null null);
			color: #000;
			display: inline-block;
			float: right;
			font-size: 14px;
		}

		.button {
			@include margin(0);
			@include padding(0);
			background-color: $navpink2;
			border-radius: 0;
			color: #fff;
			font-size: 16px;
			margin-left: 10px;
			text-transform: capitalize;
		}
	}


	// Product Meta section
	.product_meta {
		margin-bottom: 1em;
	}

	// Product Upsells section
	.upsells {
		margin-top: 5em;
	}

}



body.single-product div.product div.images .attachment-shop_single.wp-post-image,
body.single-product div.product div.images .attachment-shop_thumbnail {
	border: none;
	display: inline;
	width: auto;
}

body.woocommerce div.product form.cart .variations label {
	color: #567;

	select {
		font-size: em(16);
		min-width: 0;
	}
}

body.woocommerce div.product form.cart .woocommerce-variation-description p,
body.woocommerce .quantity .qty {
	color: #333;
	font-size: em(16);
}


// Thumbnail Container
body.woocommerce div.product div.images div.thumbnails {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 11em;

	@include media($xlarge-screen-up) {
		margin: 1em auto;
		max-width: 750px;
	}
}

body.woocommerce-page div.product div.thumbnails a {
	float: none;
	width: 100%;
}

// Variation Description
body.woocommerce div.product form.cart .woocommerce-variation-description p:first-child {
	border-top: $border;
	margin-top: 7em;
	padding-top: 2em;

	@include media($medium-screen-up) {
		margin-top: 5em;
	}
}

// Prevents overflow on left side of screen at footer widgets
.single-product .above-footer-widgets {
	position: relative;
}
