@font-face {
	font-family: 'FranklinGothic-Book';
	src: url('FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),
	url('FranklinGothic-Book.woff') format('woff'),
	url('FranklinGothic-Book.ttf') format('truetype'),
	url('FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothic-BookItalic';
	src: url('FranklinGothic-BookItalic.eot?#iefix') format('embedded-opentype'),
	url('FranklinGothic-BookItalic.woff') format('woff'),
	url('FranklinGothic-BookItalic.ttf') format('truetype'),
	url('FranklinGothic-BookItalic.svg#FranklinGothic-BookItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothic-Medium';
	src: url('FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
	url('FranklinGothic-Medium.woff') format('woff'),
	url('FranklinGothic-Medium.ttf') format('truetype'),
	url('FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothic-MediumItalic';
	src: url('FranklinGothic-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('FranklinGothic-MediumItalic.woff') format('woff'),
	url('FranklinGothic-MediumItalic.ttf') format('truetype'),
	url('FranklinGothic-MediumItalic.svg#FranklinGothic-MediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansbold';
	src: url('opensans-bold-webfont.eot');
	src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-bold-webfont.woff2') format('woff2'),
	url('opensans-bold-webfont.woff') format('woff'),
	url('opensans-bold-webfont.ttf') format('truetype'),
	url('opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansextrabold';
	src: url('opensans-extrabold-webfont.eot');
	src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-extrabold-webfont.woff2') format('woff2'),
	url('opensans-extrabold-webfont.woff') format('woff'),
	url('opensans-extrabold-webfont.ttf') format('truetype'),
	url('opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight';
	src: url('opensans-light-webfont.eot');
	src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-light-webfont.woff2') format('woff2'),
	url('opensans-light-webfont.woff') format('woff'),
	url('opensans-light-webfont.ttf') format('truetype'),
	url('opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansregular';
	src: url('opensans-regular-webfont.eot');
	src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-regular-webfont.woff2') format('woff2'),
	url('opensans-regular-webfont.woff') format('woff'),
	url('opensans-regular-webfont.ttf') format('truetype'),
	url('opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('opensans-semibold-webfont.eot');
	src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-semibold-webfont.woff2') format('woff2'),
	url('opensans-semibold-webfont.woff') format('woff'),
	url('opensans-semibold-webfont.ttf') format('truetype'),
	url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'proxima_nova_altblack';
	src: url('mark_simonson_-_proxima_nova_alt_black-webfont.eot');
	src: url('mark_simonson_-_proxima_nova_alt_black-webfont.eot?#iefix') format('embedded-opentype'),
	url('mark_simonson_-_proxima_nova_alt_black-webfont.woff2') format('woff2'),
	url('mark_simonson_-_proxima_nova_alt_black-webfont.woff') format('woff'),
	url('mark_simonson_-_proxima_nova_alt_black-webfont.ttf') format('truetype'),
	url('mark_simonson_-_proxima_nova_alt_black-webfont.svg#proxima_nova_altblack') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'proxima_nova_alt_rgbold';
	src: url('mark_simonson_-_proxima_nova_alt_bold-webfont.eot');
	src: url('mark_simonson_-_proxima_nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('mark_simonson_-_proxima_nova_alt_bold-webfont.woff2') format('woff2'),
	url('mark_simonson_-_proxima_nova_alt_bold-webfont.woff') format('woff'),
	url('mark_simonson_-_proxima_nova_alt_bold-webfont.ttf') format('truetype'),
	url('mark_simonson_-_proxima_nova_alt_bold-webfont.svg#proxima_nova_alt_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'proxima_nova_altextrabold';
	src: url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot');
	src: url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff2') format('woff2'),
	url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff') format('woff'),
	url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.ttf') format('truetype'),
	url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.svg#proxima_nova_altextrabold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'proxima_nova_alt_rgregular';
	src: url('mark_simonson_-_proxima_nova_alt_regular-webfont.eot');
	src: url('mark_simonson_-_proxima_nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('mark_simonson_-_proxima_nova_alt_regular-webfont.woff2') format('woff2'),
	url('mark_simonson_-_proxima_nova_alt_regular-webfont.woff') format('woff'),
	url('mark_simonson_-_proxima_nova_alt_regular-webfont.ttf') format('truetype'),
	url('mark_simonson_-_proxima_nova_alt_regular-webfont.svg#proxima_nova_alt_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
