/* ------------------------------- *\
        # Above Footer Widgets #
|* ------------------------------- */

.above-footer-widgets {
	background-color: #dce1e7;
}

.above-footer-container {
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);

	@include media($small-screen-up) {
		@include flex-direction(column);
	}

	> div {
		@include flex(1);
		width: 50%;

		@include media($small-screen-up) {
			width: 100%;
		}
	}
}
