// Before Header Notification Area

.before-header {
	background-color: #dce1e7;
	color: $light-gray;
	font-family: $open-sans-condensed-bold;
	text-align: center;

	.wrap {
		@include media($ipad-screen-up) {
			margin-top: 0;
			@include padding(0);
		}
	}

	.before-header-widget {
		@include media($xlarge-screen-up) {
			width: 100%;
		}
	}
}



// Before Header Left
.before-header-left-container {
	@include media($xlarge-screen-up) {
		display: none;
	}

	.menu {
		margin-left: 15px;
		margin-top: 3px;
		text-align: left;

		.menu-item {
			display: inline-block;

			a {
				color: $light-gray;
				font-family: $open-sans-condensed-bold;
				font-size: rem(11);
				text-transform: uppercase;

				&:hover {
					color: $orange-hover;
				}
			}

			&.current-menu-item > a {
				color: $orange-hover;
			}
		}

		li + li:before {
			color: $light-gray;
			content: " | ";
			@include padding(0);
		}
	}
}




// Before Header Middle
.before-header-middle-container {

	.free-shipping-notification {
		@include padding(0);
		color: $light-gray;
		font: {
			family: $raleway-bold;
			size: rem(11);
		}
		margin-bottom: 0;
		margin-top: 10px;
		text-transform: uppercase;


		@include media($xlarge-screen-up) {
			@include padding(5px 0);
		}

		@include media($large-screen-up) {
			@include padding(3.5px 0);
			font-size: rem(14);
			margin-top: 0;
		}

		@include media($small-screen-up) {
			display: inline;
		}
	}
}



// Before Header Right
.before-header-right-container {
	@include media($xlarge-screen-up) {
		display: none;
	}

	@include media($ipad-screen-up) {
		margin-left: 0;
	}

	.search-form {
		width: auto;

		input[type="search"] {
			background-color: rgba(235, 236, 241, 1);
			border: none;
			margin-bottom: 0;
			@include padding(6px);

			@include placeholder {
				font-size: rem(11);
				padding-top: 3px;
			}

			@include media($ipad-screen-up) {
				@include padding(6px 0);
			}
		}
	}
}

