/*! Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #3c4143;
	@include padding(rem(20) 0);
	clear: both;
	color: #aaa;
	font-size: 0.875rem;
	line-height: 1;

	a,
	p {
		color: $light-gray;
		margin-bottom: rem(7);
	}

	li {
		list-style-type: none;
		margin-bottom: 6px;
		word-wrap: break-word;
	}

	.widgettitle {
		color: $orange;
		font: {
			family: $raleway;
			size: rem(11);
			weight: normal;
		}
		text-transform: uppercase;
	}

	a:hover,
	a:active,
	a:focus {
		color: #fff;
	}

}


/* Widget #3
------------------------ */

.footer-widgets-3 {
	.widget_text {
		@include margin(0);
	}

	.featured-content .entry-title {
		@include padding(0);
		text-align: center;

		a {
			color: #fff;
			font-size: 0.55rem;
		}
	}
	
	.entry {
		max-width: 341px;
	}
}

/* Widget #4
------------------------ */

.footer-widgets-4 {
	margin-top: rem(20);

	&:first-child {
		margin-bottom: rem(20);
	}

	address {
		font-size: rem(14);
		margin-top: 1em;
	}
}

