/* ## Site Footer
---------------------------- */
.site-footer {
	@include padding(rem(10) 0);
	background: $black2;
	color: $light-gray;
	font-size: 1.5rem;
	text-align: center;

	a {
		color: $white;
	}

	p {
		@include margin(0);
	}

}

