/*! Footer Widgets
-------------------------- */

.footer-widgets {
	@include padding(rem(20) 0);
	background-color: $gray3;
	clear: both;
	color: $dark-gray;
	font-size: 1.4rem;
	line-height: 1;
	position: relative;

	@include media($small-screen-up) {
		text-align: center;
	}

	.widget {
		margin-bottom: 40px;

		&:first-child {
			margin-bottom: 0;
		}
	}

	a,
	p {
		color: $light-gray;
		font-size: 1.25em;
	}

	li {
		list-style-type: none;
		margin-bottom: 15px;
		word-wrap: break-word;
	}

	.widgettitle {
		color: $orange;
		font: {
			family: $raleway;
			size: 1.45rem;
			weight: normal;
		}
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	a:hover,
	a:active,
	a:focus {
		color: #fff;
	}

}

.footer-logo {
	margin-top: 0.5em;

	@include media($small-screen-up) {
		margin-top: 1.5em;
	}

}

.footer-widgets .widget {
	margin-bottom: 40px;

	&:first-child {
		margin-bottom: 0;
	}
}


#text-54 img {
	margin-bottom: 0;
}
