/* -------------------------------- *\
        # Site Footer #
\* -------------------------------- */

.site-footer {
	text-align: center;
	background: #000;
	color: $light-gray;
	font-size: rem(11);
	@include padding(rem(10) 0);

	a {
		color: $white;
	}

	p {
		@include margin(0);
	}

}

