// Site Header

.site-header {
	background-color: #567;
	//border-bottom: 1px solid $base-border-color;
	width: 100%;

	@include media($xlarge-screen-up) {
		padding-bottom: rem(30);
	}

	.title-area {
		float: left;

		@include media($xxlarge-screen) {
			width: 300px;
		}

		@include media($xlarge-screen-up) {
			width: 100%;
		}

		.site-title {
			margin: 0;

			@include media($xlarge-screen-up) {
				text-align: center;
			}

			img {
				position: relative;
				top: 30px;
				z-index: 999;
			}

		}
	}
}
