// Site Header

.site-header {
	//background-color: #567;
	background-color: $pink1;
	width: 100%;

	@include media($xlarge-screen-up) {
		max-height: none;
	}

	.title-area {
		float: left;

		@include media($xxlarge-screen) {
			width: 300px;
		}

		@include media($xlarge-screen-up) {
			margin-bottom: 0.5rem;
			width: 100%;
		}
	}

	.site-title {
		margin: 0;

		@include media($xlarge-screen-up) {
			text-align: center;
		}

		img {
			position: relative;
			top: 30px;
			z-index: 999;

			@include media($xlarge-screen-up) {
				top: 0;
			}
		}
	}

	#mobile-logo {
		@include media($xlarge-screen-up) {
			top: 5px;
		}
	}
}
