// Site Header

.site-header {
	background-color: #567;
	width: 100%;

	@include media($xlarge-screen-up) {
		max-height: 77px;
		min-height: 50px;
	}

	&.no-minh {
		@include media($xlarge-screen-up) {
			max-height: unset;
		}
	}

	.title-area {
		float: left;

		@include media($xxlarge-screen) {
			width: 300px;
		}

		@include media($xlarge-screen-up) {
			margin-bottom: 0.5rem;
			width: 100%;
		}
	}

	.site-title {
		margin: 0;

		@include media($xlarge-screen-up) {
			font-size: 0;
			text-align: center;
		}

		img {
			//position: relative;
			//top: 30px;
			@include transform(translateY(20px));
			position: absolute;
			z-index: 999;

			@include media($xlarge-screen-up) {
				@include transform(translateY(0));
				margin-bottom: 0;
				position: relative;
				top: 0;
			}
		}
	}

	#mobile-logo {
		@include media($xlarge-screen-up) {
			top: 5px;
		}
	}
}
