/*! Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	color: #666;
	font-size: 13px;
	margin-top: 2.25em;

	@include media($xlarge-screen-up) {
		margin-top: 0;
	}

	p:last-child,
	ul {
		@include margin(0);
	}

	> div {
		@include margin(1em 0);
		@include padding(1em);
		background-color: rgba(255, 255, 255, 0.29);
		border: 1px solid rgba(0, 0, 0, 0.15);
	}

	.search-form {
		width: 100%;
	}

	.more-from-category {
		@include padding(3px 0 6px);
		border-bottom: 1px solid #ccc;
		font: {
			family: $raleway-semibold;
			size: 12px;
		}
		text-align: right;

		a {
			color: $pink1;

			&:hover {
				color: $gray1;
			}
		}
	}

}

.sidebar p:last-child,
.sidebar ul {
	margin: 0;
}







