/*! Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	color: #666;
	font-size: 13px;
	margin-top: 4.75em;

	@include media($xlarge-screen-up) {
		margin-top: 0;
	}

	p:last-child,
	ul {
		@include margin(0);
	}

	> div {
		@include margin(1em 0);
	}

	.search-form {
		width: 100%;
	}
}

.sidebar p:last-child,
.sidebar ul {
	margin: 0;
}







