/*! ## Accordion
---------------------------- */

#accordion {
	margin-bottom: em(10);
	padding-top: 1.5em;

	h2 {
		@include margin(em(16) 0);
		border-bottom: $border;
		cursor: pointer;
		font-family: $open-sans-condensed-bold;
		font-weight: bold;
		text-transform: uppercase;
	}

	.accordion-item h2:before {
		@include margin(em(-5) em(13) 0 0);
		content: "-";
		float: right;
		font-size: em(30);
	}

	.accordion-item.closed h2:before {
		content: "+";
	}

	.accordion-content {
		@include padding(0);
		height: 0;
		overflow: hidden;
		transition: 0.5s height;
	}

}

