/*! ## Avatar
--------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.after-entry .avatar {
	float: right;
	height: 180px;
	margin-bottom: 30px;
	margin-left: 30px;
	width: 180px;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 30px;
}

.alignright .avatar {
	margin-left: 30px;
}

.author-box {
	@extend %content-bg;
	@include margin(2em 0);
	text-align: center;

	@include media($ipad-screen-up) {
		font-size: 1rem;
	}


	.avatar {
		display: inline-block;
		float: none;
		height: 80px;
		width: 80px;
	}

	.author-box-title {
		font-size: 2rem;
		letter-spacing: -1px;
		margin-bottom: 10px;
	}

	a {
		color: $action-color;
	}

	p:last-child {
		margin-bottom: 0;
	}

}

.comment .avatar {
	height: 60px;
	margin: 0 16px 24px 0;
	width: 60px;
}


