// Before Header Notification Area

.before-header {
	background-color: $light-gray;
	text-align: center;


	.free-shipping-notification {
		font-weight: bold;
		margin-bottom: 0;
		padding: 5px 0;
		text-transform: uppercase;

		@include media($small-screen-up) {
			font-size: 70%;
		}
	}
}

