// Before Header Notification Area

.before-header {
	background-color: $light-gray;
	text-align: center;

	.wrap {
		@include media($ipad-screen-up) {
			padding: 0%;;
		}
	}


	.free-shipping-notification {
		font-family: $proxima;
		color: #909090;
		font-size: 14px;
		font-weight: bold;
		margin-top: 7px;
		margin-bottom: 0;
		padding: 0;
		text-transform: uppercase;

		@include media($small-screen-up) {
			font-size: 70%;
		}
	}
}

@include media($ipad-screen-up) {

	.before-header-widget {
			width: 100%;
	}

}

.menu-shopping-menu-container {
	margin-top: 7px;

	.menu-item {
		display: inline-block;

		a {
			font-family: $proxima;
			font-size: 14px;
			color: #909090;

			&:hover {
				color: #888;
				text-decoration: underline;
			}
		}
	}
}


.before-header-right {
	@include media($ipad-screen-up) {
		margin-left: 0;
	}

	.search-form {
		width: auto;

		input[type="search"] {
			background-color: rgba(235, 236, 241, 1);
			margin-bottom: 0;
			padding: 6px;

			@include media($ipad-screen-up) {
				padding: 6px 0;
			}

				&::-webkit-input-placeholder {
				font-family: $proxima;
				font-size: 14px;
			}
		}
	}
}

