/*! Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #567;
	border-bottom: 1px solid $base-border-color;
	padding: 20px 0;
	width: 100%;
	max-height: 90px;

	@include media($xlarge-screen-up) {
		max-height: none;
	}

		.site-title img {
		z-index: 999;
	}
}



/*! Title Area
--------------------------------------------- */

.title-area {
	float: left;
}


