/*! Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #567;
	width: 100%;
	padding: 20px 0;
}



/*! Title Area
--------------------------------------------- */

.title-area {
	float: left;
}


