// ! Nav Primary

.nav-primary {
	float: right;

	@include media($xlarge-screen-up) {
		float: none;
	}
}

.nav-primary .genesis-nav-menu {
	@include align-items(stretch);
	@include display(inline-flex);
	@include flex-direction(row);
	@include justify-content(flex-start);

	@include media($xlarge-screen-up) {
		@include justify-content(center);

	}

}

.nav-primary a:hover,
.nav-primary .current-menu-item > a {
	color: #aaa;
}

.nav-primary .genesis-nav-menu > .right > a {
	background: none;
}

.nav-primary .sub-menu a:hover {
	color: #aaa;
}
