/* --------------------------------- *\
       # Genesis Nav Menu #
\* --------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;

	.menu-item {
		display: inline-block;
		text-align: left;

		&:hover {
			position: static;

			&>.sub-menu {
				left: auto;
				opacity: 1;
			}
		}

		&.current-menu-item > a {
			background-color: $menu-grey;
		}

	}

	a {
		border-bottom-width: 0;
		display: block;
		font: {
			family: $lato;
			size: rem(12);
			weight: 400;
		}
		font-weight: 400;
		@include padding(38px 10px 42px 10px);
		text-transform: uppercase;

	}

	.sub-menu {
		left: -9999px;
		letter-spacing: 0.2em;
		opacity: 0;
		position: absolute;
		width: 180px;

		&> li:first-child {
			border-top: 2px solid $orange;

			@include media($xlarge-screen-up) {
				border-top: 0;
			}
		}

		a {
			background-color: $orange;
			border-bottom: 1px solid #eee;
			border-top: 0;
			font-size: 70%;
			padding: 15px;
			position: relative;
			width: 180px;

			& & {
				@include margin(-44px 0 0 179px);
			}

			&:hover {
				background-color: $orange-hover;
			}

			&:active {
				background-color: $menu-grey;
			}
		}
	}
}
