// ! Nav Primary

.nav-primary {
	float: right;
	//margin-top: em(25);

	@include media($xlarge-screen-up) {
		width: 100%;
	}

	a {
		color: #fff;
		font-size: 0.75rem;
		text-decoration: none;
		text-transform: uppercase;


		&:active {
			background-color: $menu-grey;
		}

		&:hover {
			background-color: $orange-hover;
			@include transition(all 0.2s ease-in);
		}
	}

	.genesis-nav-menu li.last a {
		padding-right: 0;
	}

	.genesis-nav-menu li li {
		margin-left: 0;
	}

	.sub-menu {
		z-index: 1;
	}

}
