::selection {
	background-color: $orange;
	color: #000;
}

html {
	font-size: $base-font-size;
	line-height: $base-line-height;

	@media (min-width: 800px) {
		font-size: 18px;
	}

	@media (min-width: 1200px) {
		font-size: 20px;
		line-height: 1.4;
	}
}

body {
	background: rgba(211, 220, 235, 0.59);
	color: #333;
	font-family: $raleway;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0.025em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	font-size: $base-font-size;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

p {
	margin: 0 0 em(20);
}

a {
	color: #000;
	font-weight: 400;
	text-decoration: none;
	transition: color $base-duration $base-timing;

	&:active,
	&:focus,
	&:hover {
		color: #888;
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

a img {
	margin-bottom: -4px;
}

address a {
	line-height: 1.4;
	text-decoration: none;
}

strong,
b {
	font-family: $lato-bold;
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	transition: all 0.1s ease-in-out;
}





ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	@include margin(5px 5px 20px);
	@include padding(0 30px 5px 60px);
	border: none;
}

pre {
	background: #333;
	color: #ccc;
	overflow: scroll;
	padding: 0 20px;
	white-space: pre;
}

cite {
	font-style: normal;
}
