::selection {
	background-color: $orange;
	color: #000;
}

html {
	font-size: 62.5%; // 10px browser default
}

// Chrome fix
body > div {
	font-size: 2rem;
}

body {
	//background: $white;
	background-color: $pink5;
	color: #333;
	font-family: $raleway;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	letter-spacing: 0.025em;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	line-height: 1.2;
	margin-bottom: rem(20);
}

h1 {
	font-size: 2.8rem;
}

.entry-content h2 {
	font-size: 2.3rem;
	letter-spacing: 1px;
	margin-top: 40px;
	text-transform: uppercase;
}

.entry-content h4 {
	font-size: 2rem;
	letter-spacing: 1px;
	margin-top: 40px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.5rem;
}


h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.4rem;
}


p {
	margin-bottom: rem(30);
}

a {
	color: #000;
	font-weight: 400;
	text-decoration: none;
	transition: color $base-duration $base-timing;

	&:active,
	&:focus,
	&:hover {
		color: #888;
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

a img {
	margin-bottom: -4px;
}

address a {
	line-height: 1.4;
	text-decoration: none;
}

strong,
b {
	font-family: $lato-bold;
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	transition: all 0.3s ease-in;
}





ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	@include margin(5px 5px 20px);
	@include padding(0 30px 5px 60px);
	border: none;
}

pre {
	background: #333;
	color: #ccc;
	overflow: scroll;
	padding: 0 20px;
	white-space: pre;
}

cite {
	font-style: normal;
}
