::selection {
	background-color: $orange;
	color: #000;
}

html {
	font-size: $base-font-size;
	line-height: $base-line-height;

	@media (min-width: 800px) {
		font-size: 18px;
	}

	@media (min-width: 1200px) {
		font-size: 20px;
		line-height: 1.4;
	}
}

body {
	background: rgba(211, 220, 235, 0.59);
	color: #333;
	font-family: $raleway;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0.025em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
	color: pink;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

address a {
	line-height: 1.4;
	text-decoration: none;
}
