// Typography
$raleway: ralewayregular, sans-serif;
$raleway-black: ralewayblack, sans-serif;
$raleway-light: ralewaylight, sans-serif;
$raleway-medium: ralewaymedium, sans-serif;
$raleway-semibold: ralewaysemibold, sans-serif;
$raleway-bold: ralewayextrabold, sans-serif;



$lato: latoregular, sans-serif;
$lato-light: latolight, sans-serif;
$lato-thin: latohairline, sans-serif;
$lato-bold: latobold, sans-serif;
$lato-italic: latoitalic, sans-serif;



$open-sans-condensed-bold: open_sans_condensedbold, sans-serif;

$yanone: yanone_kaffeesatzregular, sans-serif;


$base-font-family: $lato;
$heading-font-family: $raleway-medium;

// Font Sizes
$base-font-size: 16px;

//Font Weights
$bold: bold;

// Line height
$base-line-height: 1.3;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors

// Gray
$light-gray: #909090;
$medium-gray: #999;
$dark-gray: #333;
$menu-grey: #89a;
$gray1: #d1cece;
$gray2: #ebebeb;

// Old Oranges
//$orange: #ff9934;
//$orange-hover: #8e5721;

// New Orange Color
$orange: #fdab59;
$orange-hover: #ff9933;

// White
$white: rgba(255, 255, 255, 1);

// Blue
$blue: #18d;
$blue1: #27a;

// Pink - Breast Cancer Awareness
$pink1: #f34673;
$pink2: #ffeeed;
$pink3: #ff99cc;
$pink4: #fdd9e2;
$pink5: #feecf1;

// Pink Nav Menu Items
$navpink1: #f88ca9;
$navpink2: #f22c61;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$headline-color: #567;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$border-color: #cacaca;
$border: 1px solid $border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


// SCSS Placeholders

%content-bg {
	@include padding(1em 1em 2em);
	background-color: rgba(255, 255, 255, 0.29);
	border: 1px solid rgba(0, 0, 0, 0.15);
}

